<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="2" verbose="1" parallel="tests" >
  
  <test thread-count="2" name="Flipkart">
    <classes>  
      <class name="com.suite1.flipkart"/>
    </classes>
  </test>
  
  <test thread-count="2" name="SnapDeal">
    <classes>
  <class name="com.suite2.snapndeal"/>
   </classes>
  </test>
  
  </suite>
